.box{
    display: flex;
    flex: 0.85;
    flex-direction: row;
    position: relative;
    
}
.box>img{
    position: absolute;
    width: 100vw;
    height: 83vh;
}
.image{
    display: flex;
    flex:1;
    flex-direction: row;
    position: absolute;
    width: 99vw;
    
}
.extra
{
    display: flex;
    flex:0.15;
}
.book{
    display:flex;
    flex: 0.20;
    justify-content: flex-start;
    background-color:rgba(245, 253, 249, 0.822);
    margin-top: 10px;
    height: 76vh;
    width: 100vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    border: 2px solid pink;
    border-radius: 2px;
}
.User{
    display: flex;
    flex:1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.User>button{
    
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:darkblue;
    border: 0.3px solid gray;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}


    
